<h2 >Ada's Wonder Library</h2>

<ul>
<% @books.each do |book| %>
  <li>
    <!-- Dee change this anchor to link_to -->
    <a href="/books/<%= book.id %>">
      <%= book.title %> 
    </a>
    by <%= book.author %>
  </li>
<% end %>
</ul>
<%# "I am shouting!".upcase %>
<%# @name %>