<h2 >Ada's Wonder Library</h2>

<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book.id) %>
    by <%= book.author.name %>
    <div class="book-list-item__date">
      <%= readable_date(book.created_at) %>
    </div>
  </li>
<% end %>
</ul>
<%# "I am shouting!".upcase %>
<%# @name %>