<h2 >Ada's Wonder Library</h2>

<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book.id) %>
    by <%= book.author %>
  </li>
<% end %>
</ul>
<%# "I am shouting!".upcase %>
<%# @name %>